<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <connectionStrings>
    <add name="TeamCellContext" 
         connectionString="Data Source=DESKTOP-EH8GUC7;Initial Catalog=TeamCellTest;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!--appSettings>
    <add key="DatabaseInitializerForType Model.SchoolDBContext, TeamCell"
            value="Model.DAL.TeamCellInicializer, TeamCell" />
  </appSettings>-->
  
  <entityFramework>

    <!--<contexts>
      <context type="Model.SchoolDBContext, Prueba_TeamCell">
        <databaseInitializer type="System.Data.Entity.DropCreateDatabaseAlways`1[[Model.DAL.TeamCellInicializer, Prueba_TeamCell]], EntityFramework" />
      </context>
    </contexts>-->
    
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>